<h1>ДОБРО ПОЖАЛОВАТЬ НА ТАНЦУЛЬКИ!!!</h1>

<br>
<br>
<h4> Список постов по теме:</h4>
<br>

 {{#each name}}
    <li style="display: flex; align-items: center">
        {{!-- <input type="checkbox" checked={{this.completed}}/> --}}
        <p><a href='/dance/post?ID={{this._id}}''>{{this.name}}</a></p>
    </li>
{{/each}}
