<style>
  .linkItem {
    background-color: white;
    border-bottom: 10px solid rgb(209, 209, 209);
    width: 170px;
    border-radius: 15px;
    justify-content: center;
  }

  .linkItem:hover {
    transition: .3s;
    background-color: mediumpurple;
  }

  .linkItem:hover a {
    color: white
  }

  .button {
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #000;
    width: 150px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
  }

  .button:hover {
    transition: 1s;
    background-color: mediumpurple;
    color: white;

  }
</style>


<h4>Перестают танцевать не потому что стареют, стареют потому что перестают танцевать.</h4>
<h5>(Джесси Ньюберн)</h5>

<br>
<br>
<h4> Список тем:</h4>

<div class="row">
  <div id="L" class="col s12 m4 l5">
    <div>
      {{#each name}}
        <div style="display: flex; align-items: center" class="linkItem">
        <input type="checkbox" checked={{this.completed}}/>
        <p><a href='/dance/post?ID={{this._id}}'>{{this.name}}</a></p>
      </div>
      {{/each}}
    </div>
  </div>
  <div id="C" class="col s12 m4 l2">
    {{#if Inlogin}}


    <div><a href="/dance/ajax-create-tema" class="button"> Добавить тему </a></div>
    {{!-- <br>
 <li><a href="/dance/ajax-create-post"> Добавить пост </a></li>
  <br> --}}
    <br>

    <br>

    {{!-- <br>
 <li><a href="/dance/ajax-create-post"> Добавить пост </a></li>
  <br> --}}


    {{/if}}
  </div>
  <div id="R" class="col s12 m4 l5">
    <div>
      <img style="max-width: 100%;margin: auto; border-radius: 25px; " src="/img/dancing.jpg">
    </div>
  </div>
</div>
