<style>
  .row {
    text-align: center;
    margin: 10px;
    padding-top: 40px;
  }
   .col {
    text-align: center;

  }

  #L{
    height: 83vh;
  }
  #C{
    height: 83vh;
  }
  #R{
    height: 83vh;
  }

  .picture {
    width: 60%;
    height: 90%;
    border-radius: 10%;
  }

  .word {
    visibility: hidden;
    font-size: 36px;
    position: absolute;
    left: 39%;
    text-shadow: 2px 2px 0px #000000;
    top: 30%;
    z-index: 10000;
  }

    .word2 {
      text-shadow: 2px 2px 0px #000000;
    visibility: hidden;
    font-size: 36px;
    position: absolute;
    left: 31%;
    top: 30%;
    z-index: 10000;
  }

  .item{
    position: relative;
  }

    .item:hover p{
      color: #fff;
    font-size: 84px;
    visibility: visible;
    opacity: 1;
  }

  .item:hover a{
    z-index: 1;
    opacity: 0.5;
  }
</style>


<div class="row">
  <div id="UP" class="col s12"> Вкусно поедим и потанцуем!
  </div>
  <div id="L" class="col s12 m6 l6">
    <div class="item">
     <p class="word">Еда</p>
     <a href="/food">
      <img class="picture" src="/img/food.jpg">
     </a> 
    </div>
  </div>

  {{!-- <div id="C" class="col s12 m4 l2">
  </div>  --}}
  <div id="R" class="col s12 m6 l6">
    <div class="item">
      <p class="word2">Танцы</p>
     <a href="/dance">  <img class="picture" src="img/dance.jpg"></a> 

    </div>
      </div>
</div>

{{!-- <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div> --}}
{{!-- </div> --}}
