<style>
  .row {
    text-align: center;
    margin: 10px;
    {{!-- border: 1px solid blue; --}}
  }
   .col {
    text-align: center;
    border: 1px solid blue;
    {{!-- margin: 10px; --}}
  }

  #L{
    height: 83vh;
  }
  #C{
    height: 83vh;
  }
  #R{
    height: 83vh;
  }
</style>


<div class="row">
  <div id="UP" class="col s12">
    <p>EAT AND DANCE</p>
  </div>
  <div id="L" class="col s12 m4 l5">
    <p>ЕДА</p>
  </div>
  <div id="C" class="col s12 m4 l2">
    <p>s12 m2</p>
  </div>
  <div id="R" class="col s12 m4 l5">
    <p>ТАНЦЫ</p>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 l12"></div>Footer
</div>
{{!-- <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div> --}}
{{!-- </div> --}}
