<script defer src='/js/newPost.js'></script>
<form name='create-post' action='ajax-create-post' method="POST" id="form-create-post">
<textarea name="new-post" id="new-post" cols="30" rows="10"></textarea>
<input type="submit" id='createPost'>Создать пост</form>

<div id="container"></div>
