{{!-- <script defer src='/js/newPost.js'></script> --}}
<form name='create-post' action='ajax-create-post?ID={{idTheme}}' method="POST" id="form-create-post">
<textarea name="newPost" id="newPost" cols="30" rows="10"></textarea>
<input type="submit" id='createPost' value="Добавить">
</form>

<div id="container"></div>
