{{!-- <script defer src='/js/newTema.js'></script> --}}
<form name='create-tema' action='ajax-create-tema' method="POST" id="form-create-tema">
<textarea name="newTema" id="newTema" cols="30" rows="10"></textarea>
<input type="submit" id='createTema' value="Добавить тему форума">
</form>

<div id="container"></div>
