<link rel="stylesheet" href="/stylesheets/personaccount-style.css">
<div class="container borders">
    <div class="row">
    <h4 class="head_name">Личный кабинет пользователя</h4>
    </div>
    <div class="row account">
        <div class="info col s4">
            <img src="https://cdn1.vectorstock.com/i/thumb-large/71/75/astronaut-dancing-disco-funny-vector-19917175.jpg"
                 alt="avatar"
                 class="info__avatar"
            >
        </div>
        <div class="info__fields col s8 ">
            <div class="wrapper">
                <h6><b>Имя пользователя:</b> {{username}}</h6>
                <h6><b>E-mail:</b> {{email}}</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6 right_row">
            <h5 class="headers">Танцы</h5>
            <ul class="list__data">
              {{#each skillsDance}}
              <li class="list__data_item"> {{this}}</li>             
              {{/each}}
            </ul>
        </div>
        <div class="col s6 left_row">
            <h5 class="headers">Еда</h5>
            <ul class="list__data">
              {{#each skillsFood}}
               <li class="list__data_item">
                {{this}}
               </li>
              {{/each}}
            </ul>
        </div>
    </div>
</div>
