.account {
  border-bottom: 10px solid rgb(209, 209, 209);
  margin-top: 20px;
  margin-bottom: 0 !important;
}

.head_name{
  padding-left: 20px;
}

.info {
  background-color: #fff;
  text-align: center;
  min-height: 180px !important;
border-radius: 15px;
}

.info__avatar {
  margin-top: 5px;
  width: 180px;
  height: 170px;
  border-radius: 50%;
  border: 3px solid lightpink;
}

.info__fields {
  border-radius: 15px;
  background-color: #fff;
  min-height: 180px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 10px solid rgb(209, 209, 209);
}

.wrapper{
height: 100%;
  padding-left: 40px;
}

.headers{
  font-weight: 700;
  text-align: center;
}

.right_row{
  border-radius: 15px;
  border-right: 10px solid rgb(209, 209, 209);
  background-color: #fff;
}

.left_row{
  border-radius: 15px;
  background-color: #fff;
}

.list__data_item {
  padding: 10px 0;
  text-decoration: none;
}

.list__data {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}




